* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
a, svg, button, div, image, img, link{
    -webkit-tap-highlight-color: transparent;
}
header{
    position: sticky;
    top: 0;
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-bottom: 10px;
    z-index: 9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.logo{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.gallery_count{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;
}
.gallery_text{
    font-size: 20px;
}
/* Gallery section  */
.gallery {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* row-gap: 10px; */
  /* column-gap: 10px; */
  gap: 10px;
  /* column-count: 3; */
  /* column-gap: 10px; */
}

/* @media (min-width: 600px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 900px) {
  .gallery {
    column-count: 4;
  }
} */

/* .gallery-item {
  break-inside: avoid;
} */
.gallery-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  /* border-radius: 12px; */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.gallery-item img:active {
  transform: scale(1.02);
}
/* IMAGE LOADER  */
/* Skeleton loader */
.skeleton {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 37%,
    #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

/* Animation */
@keyframes shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}
/* POPOVER  */
.my_popover{
    /* max-width: 95vw; */
    /* max-height: 90vh; */
    width: 100vw;
    height: 100dvh;
    border: none;
    background-color: #fff;
}

.popover_bottom{
    width: 100%;
    height: 45px;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
}
.popover_bottom .line{
    height: 90%;
    border: 1px solid rgb(220, 220, 220);
}
.popover_bottom a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.popover_bottom .link_box{
    display: flex;
    justify-content: center;
}
.popover_bottom button{
    border: none;
    background: none;
    font-size: 18px;
    font-weight: bold;
}

/* .popover {
  background: rgba(0,0,0,0.92);
  border: none;
  border-radius: 14px;
  padding: 10px;
  max-width: 95vw;
  max-height: 90vh;
}

.popover::backdrop {
  background: rgba(0,0,0,0.6);
} */

.my_popover img {
  width: 100%;
  hieght: auto;
  /* max-width: 90vw; */
  /* max-height: 70vh; */
  /* border-radius: 12px; */
  display: block;
  margin: auto;
}
.blank{
    height: 50px;
}
/* .popover a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #0af;
  font-size: 18px;
}

.close {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
} */
/* LOADMORE  */
.load-more {
  display: block;
  margin: 20px auto 40px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #0af;
  color: #000;
}

.load-more:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
